Makefile.in
Makefile
aclocal.m4
autom4te.cache
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
missing
stamp-h1
.deps
*.o
src/crond
src/crontab
src/cron-paths.h
*~
*.tar.*
