#!/usr/bin/make -f
# Made with the aid of dh_make, by Craig Small
# Sample debian/rules that uses debhelper. GNU copyright 1997 by Joey Hess.
# Some lines taken from debmake, by Cristoph Lameter.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

build: build-stamp
build-stamp:
	dh_testdir
	
	$(MAKE)

	touch build-stamp

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp install-stamp

	-$(MAKE) clean

	dh_clean

install: install-stamp
install-stamp: build-stamp
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs

	$(MAKE) install PREFIX=debian/anacron MANDIR=debian/anacron/usr/share/man
	install -m 644 debian/anacrontab debian/anacron/etc/
	install debian/0anacron.daily debian/anacron/etc/cron.daily/0anacron
	install debian/0anacron.weekly debian/anacron/etc/cron.weekly/0anacron
	install debian/0anacron.monthly debian/anacron/etc/cron.monthly/0anacron
	install -m 755 debian/apm.d debian/anacron/etc/apm/event.d/anacron

	touch install-stamp

# Build architecture-independent files here.
binary-indep: build install
# We have nothing to do 

# Build architecture-dependent files here.
binary-arch: build install
	dh_testdir
	dh_testroot
	dh_installdocs
	dh_installinit -u"start 89 2 3 4 5 . stop 11 0 1 6 ."
	dh_installcron
	dh_installman
	dh_installchangelogs ChangeLog
	#dh_installdebconf
	dh_strip
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

source diff:                                                                  
	@echo >&2 'source and diff are obsolete - use dpkg-source -b'; false

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary
